# .gitignore documentation can be found at
# http://git-scm.com/docs/gitignore

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~


# Ignore processed example data
**/TestData/**/*.eps
**/TestData/**/*_Report.txt
**/TestData/**/*_ReportSession.mat
**/TestData/**/*.png


MatLab/TP-Fit/UserSettings.mat
MatLab/Libraries/Testing/
MatLab/TP-Fit/obsolete/
